<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
		<meta charset="ISO-8859-1">
		<link rel="stylesheet" th:href="@{css/principal.css}">
		<script th:src="@{js/teste.js}"> 
		</script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>World of Sneakers</title>
</head>

<body>
		
	<div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a th:href="@{/home}"><img th:src="@{/img/tiger.png}" width="125px"></a>
                </div>
                <nav>
                	<ul id="MenuItems">
                        <li><a th:href="@{/home}">Home</a></li>
                        <li><a th:href="@{/produtos}">Produtos</a></li>
                        <li><a th:href="@{/sobre}">Sobre</a></li>
                        <li><a th:href="@{/conta}">Conta</a></li>
                     </ul>
                </nav>
                <a th:href="@{/carrinho}"><img th:src="@{/img/cart.png}" width="30px" height="30px"></a>
                <!--  <img th:src="@{img/menu.png}" class="menu-icon" th:onclick="menutoggle()"> -->
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Um Novo Estilo de Treino<br> Somente Seu!</h1>
                    <p>O sucesso nem sempre se trata de grandeza. É uma questão de consistência.<br> O trabalho árduo consistente obtém sucesso. A grandeza virá!</p>
                    <a  class="btn">Explore Agora &#8594;</a>
                </div>
                <div class="col-2">
                    <img th:src="@{/img/jordanHeader.png}">
                </div>
            </div>
        </div>
    </div>

    <!--------- Categorias em Destaque ----------->
    <div class="categorias">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img th:src="@{img/category-1.jpg}">
                </div>
                <div class="col-3">
                    <img th:src="@{img/category-2.jpg}">
                </div>
                <div class="col-3">
                    <img th:src="@{img/category-3.jpg}">
                </div>
            </div>
        </div>
    </div>

	<!--------- Categorias em Destaque ----------->
    <div class="small-container">
        <h2 class="title">Produtos em Destaque</h2>
        <div class="row">
            <div class="col-4">
                <img th:src="@{/img/Superstar-Branco.webp}">
                <h4>Tênis Adidas Superstar Branco </h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>R$ 480,00</p>
            </div>
            <div class="col-4">
                <img th:src="@{/img/vaporMax.jfif}">
                <h4>Air VaporMax </h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>R$ 840,00</p>
            </div>
        </div>
        <h2 class="title">Produtos Recentes</h2>
        <div class="row">
            <div class="col-4">
                <img th:src="@{/img/court-vision.webp}">
                <h4>Court Vision 2.0 Mid</h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>R$ 490,90</p>
            </div>
            <div class="col-4">
                <img th:src="@{/img/air-max.webp}">
                <h4>Air Max Intrlk</h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>R$ 549,90</p>
            </div>
            <div class="col-4">
                <img th:src="@{/img/air-max-2090.webp}">
                <h4>Air Max 2090</h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>R$ 790,90</p>
            </div>
            <div class="col-4">
                <img th:src="@{/img/air-max-90.webp}">
                <h4> Air Max 90 </h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>R$ 549,00</p>
            </div>
        </div>
    </div>
<!------------Offer-------------->   
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img th:src="@{/img/adidasRoxo.png}" class="offer-img">
                </div>
                <div class="col-2">
                    <p>Disponível Exclusivamente na Sneakers</p>
                    <h1>Adidas Run 4</h1>
                    <small>O Adidas Run 4 apresenta um conforto unido com a perfomance de um tênis profissional de corrida. Utilize ele em seus treinos e melhore seu desempenho!</small><br> 
                    <a href="" class="btn"> Compre Agora &#8594;</a>
                </div>
            </div>
        </div>
    </div>

<!--------------- Test imonial = Depoimentos---------------->
    <div class="depoimentos">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        A loja tem um atendimento excelente, a cada status do meu pedido eu recebi uma notificação no WhatsApp me mantendo informada, o tênis é lindo de ótima qualidade, além de vir super bem embalado e com mimo! AMEI!!
                    </p>
                    <div class="Avaliação">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img th:src="@{/img/user-1.png}">
                    <h3> Amanda Santos</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Essa loja é muito boa, os produtos que são vendidos são de ótima qualidade. Comprei o Air Zoom  e uso ele nas minhas corridas, é um tênis que aguenta muito bem a intepéries do tempo hehehe.<br><br>
                    </p>
                    <div class="Avaliação">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img th:src="@{/img/user-2.png}">
                    <h3> Gustavo Carvalho</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                       Ameiiiiii, comprei o Adidas Super Star. Ele é muito confortável estou uso ele pra caminhar, parece que nem sinto ele nos pés kkkkk. Mas brincadeiras a parte, eu gostei muito dessa loja, me informaram sobre o pedido pelo Whatsapp!
                    </p>
                    <div class="Avaliação">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img th:src="@{/img/user-3.png}">
                    <h3> Juliana Matos</h3>
                </div>
            </div>
        </div>
    </div>

<!--------------- Brands = Marcas ---------------->

    <div class="brand">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img th:src="@{/img/logo-godrej.png}">                    
                </div>
                <div class="col-5">
                    <img th:src="@{/img/logo-oppo.png}">                    
                </div>
                <div class="col-5">
                    <img th:src="@{/img/logo-coca-cola.png}">                    
                </div>
                <div class="col-5">
                    <img th:src="@{/img/logo-paypal.png}">                    
                </div>
                <div class="col-5">
                    <img th:src="@{/img/logo-philips.png}">                    
                </div>
            </div>
        </div>
    </div>

<!--------------- Footer = Rodapé ---------------->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Baixe nosso App</h3>
                    <p>Baixe o App para celular Android e IOS</p>
                    <div class="app-logo">
                       <img th:src="@{/img/play-store.png}"> 
                       <img th:src="@{/img/app-store.png}">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img th:src="@{/img/lion.png}">
                    <p>Nosso objetivo é tornar o prazer e os benefícios dos esportes acessíveis a muitos</p>
                </div>
                <div class="footer-col-3">
                    <h3>Links Úteis</h3>
                    <ul>
                        <li>Cupons</li>
                        <li>Postagem do blog</li>
                        <li>Política de devolução</li>
                        <li>Torne-se um Afiliado</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Siga-nos</h3>
                    <ul>
                        <li>FacebooK</li>
                        <li>Whatsapp</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p><i class="fa fa-copyright" aria-hidden="true">Copyright 2021 - Matheus Henrique</i></p>
        </div>
    </div>

<!-------------------JavaScript Alternar Menu = toggle menu--------------------->   
    <script>
        var MenuItems = document.getElementById("MenuItems") 

        MenuItems.style.maxHeight = "0px";

        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "200px";
            }
            else{
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>

</body>
</html>