<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="ISO-8859-1">
    <title>Produtos - World of Sneakers</title>
    <link rel="stylesheet" th:href="@{css/principal.css}">
    <script th:src="@{js/teste.js}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a th:href="@{/home}"><img th:src="@{/img/tiger.png}"  width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/produtos}">Produtos</a></li>
                    <li><a th:href="@{/sobre}">Sobre</a></li>
                    <li><a th:href="@{/conta}">Conta</a></li>
                </ul>
            </nav>
            <a th:href="@{/carrinho}"><img th:src="@{/img/cart.png}" width="30px" height="30px"></a>
            <img th:src="@{/img/menu.png}" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>

    <div class="small-container">

        <div class="row row-2">
            <h2>Todos os Produtos</h2>
            <select>
                <option>Padrão de classificação</option>
                <option>Curto pelo Preço</option>
                <option>Curto pela Popularidade</option>
                <option>Curto pela Classificação</option>
                <option>Descoberto em Venda</option>
            </select>
        </div>


        <div class="row">
            <div class="col-4">
                <img th:src="@{/imgPages/air-force-white.jpg}">
                <h4>Air Force 1 TM </h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>R$ 890,90</p>
            </div>
            <div class="col-4">
                <img th:src="@{/imgPages/air-max-97.webp}">
                <h4>Air Max 97 SE </h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>R$ 950,00</p>
            </div>
            <div class="col-4">
                <img th:src="@{/img/Tenis-Balenciaga-Triple-S.png}">
                <h4>Tenis Balenciaga Triple S</h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>R$ 6990,90</p>
            </div>
            <div class="col-4">
                <img th:src="@{/imgPages/air-max-just.webp}">
                <h4> Air Max Just do It </h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>R$ 1229,90</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img th:src="@{/imgPages/giannis-immortality.webp}">
                <h4>Giannis Immortality</h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>R$ 299,99</p>
            </div>
            <div class="col-4">
                <img th:src="@{/imgPages/air-max-infinity.webp}">
                <h4>Air Max Infinity - MW</h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>R$ 129,90</p>
            </div>
            <div class="col-4">
                <img th:src="@{/imgPages/air-jordan-1.jpg}">
                <h4>Air Jordan 1</h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>R$ 2749,90</p>
            </div>
            <div class="col-4">
                <img th:src="@{/imgPages/1997.webp}">
                <h4>Air Max 97 SE Lil Nas X Stockx </h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>R$ 3540,00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img th:src="@{/imgPages/air-zoom.webp}">
                <h4>Air Zoom Tempo</h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>R$ 790,00</p>
            </div>
            <div class="col-4">
                <img th:src="@{/imgPages/air-max-impact.webp}">
                <h4>Air Max Impact</h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>R$ 690,00</p>
            </div>
            <div class="col-4">
                <img th:src="@{/imgPages/air-presto.webp}">
                <h4>Air Presto</h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>R$ 890,00</p>
            </div>
            <div class="col-4">
                <img th:src="@{/imgPages/air-max-exosense.webp}">
                <h4>Air Max Exosense</h4>
                <div class="Avaliação">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>R$ 1390,00</p>
            </div>
        </div>

        <div class="page-btn">
            <span><a href="produtos.html">1</a></span>
            <span><a href="produtos2.html">2</a></span>
            <span>&#8594;</span>
         </div>
    </div>

<!--------------- Footer = Rodapé ---------------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Baixe nosso App</h3>
                <p>Baixe o App para celular Android e IOS</p>
                <div class="app-logo">
                   <img th:src="@{/img/play-store.png}"> 
                   <img th:src="@{/img/app-store.png}">
                </div>
            </div>
            <div class="footer-col-2">
                <img th:src="@{/img/lion.png}">
                <p>Nosso objetivo é tornar o prazer e os benefícios dos esportes acessíveis a muitos</p>
            </div>
            <div class="footer-col-3">
                <h3>Links Úteis</h3>
                <ul>
                    <li>Cupons</li>
                    <li>Postagem do blog</li>
                    <li>Política de devolução</li>
                    <li>Torne-se um Afiliado</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Siga-nos</h3>
                <ul>
                    <li>FacebooK</li>
                    <li>Whatsapp</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p><i class="fa fa-copyright" aria-hidden="true">Copyright 2021 - Matheus Henrique</i></p>
    </div>
</div>

<!-------------------JavaScript Alternar Menu = toggle menu--------------------->   
    <script>
        var MenuItems = document.getElementById("MenuItems") 

        MenuItems.style.maxHeight = "0px";

        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "200px";
            }
            else{
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>

</body>
</html>